{{ define "main" }}
<header class="site-header site-header--home">
    <img src="/images/avatar.jpg" alt="{{ site.Params.author }}" class="site-header__avatar">
    <div class="site-header__text">
        <h1 class="site-header__label">{{ site.Params.label | default "Engineering_Notes" }}</h1>
        <p class="site-header__tagline">{{ site.Params.homeTagline | default site.Params.tagline }}</p>
    </div>
</header>

<section>
    {{- $paginator := .Paginate ((where site.RegularPages "Section" "posts").ByDate.Reverse) }}
    {{- range $paginator.Pages }}
        {{- partial "entry.html" . }}
    {{- end }}
</section>
{{ end }}

{{ define "pagination" }}
{{- partial "pagination.html" . -}}
{{ end }}
