{{ define "main" }}
<article>
    <header class="post-header">
        <a href="{{ "/" | relURL }}" class="back-link">&larr; Back</a>
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        <h1 class="post-title">{{ .Title }}</h1>
        {{- with .GetTerms "tags" }}
        <div class="post-tags">
            {{- range . }}
            <a href="{{ .RelPermalink }}" class="tag-box">{{ .LinkTitle }}</a>
            {{- end }}
        </div>
        {{- end }}
    </header>

    <div class="post-body">
        {{ .Content }}
    </div>
</article>
{{ end }}
