<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{/* Fonts */}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;600&family=Space+Grotesk:wght@500;600;700&display=swap" rel="stylesheet">

{{/* Favicon */}}
<link rel="icon" href="/favicon.ico" sizes="any">
{{- if fileExists "static/favicon.svg" }}
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
{{- end }}
{{- if fileExists "static/apple-touch-icon.png" }}
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
{{- end }}

{{/* Title */}}
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{/* Description */}}
{{- $description := .Description | default .Summary | default site.Params.description | plainify | truncate 160 -}}
<meta name="description" content="{{ $description }}">

{{/* Canonical URL */}}
<link rel="canonical" href="{{ .Permalink }}">

{{/* Author */}}
<meta name="author" content="{{ site.Params.author }}">

{{/* Robots */}}
<meta name="robots" content="index, follow">

{{/* Open Graph */}}
<meta property="og:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:locale" content="{{ site.Language.LanguageCode | default "en_US" }}">
{{- with .Params.image }}
<meta property="og:image" content="{{ . | absURL }}">
{{- else }}
{{- with site.Params.defaultImage }}
<meta property="og:image" content="{{ . | absURL }}">
{{- end }}
{{- end }}

{{/* Article specific Open Graph */}}
{{- if .IsPage }}
{{- with .PublishDate }}
<meta property="article:published_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
{{- end }}
{{- with .Lastmod }}
<meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
{{- end }}
{{- with site.Params.author }}
<meta property="article:author" content="{{ . }}">
{{- end }}
{{- range .Params.tags }}
<meta property="article:tag" content="{{ . }}">
{{- end }}
{{- end }}

{{/* Twitter Card */}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta name="twitter:description" content="{{ $description }}">
{{- with .Params.image }}
<meta name="twitter:image" content="{{ . | absURL }}">
{{- else }}
{{- with site.Params.defaultImage }}
<meta name="twitter:image" content="{{ . | absURL }}">
{{- end }}
{{- end }}

{{/* RSS Feed */}}
{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink (printf "%s - %s" site.Title (.Name | upper)) | safeHTML }}
{{ end -}}

{{/* JSON-LD Structured Data */}}
{{- if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ site.Title }}",
  "url": "{{ site.BaseURL }}",
  "description": "{{ site.Params.description }}",
  "author": {
    "@type": "Person",
    "name": "{{ site.Params.author }}"
  }
}
</script>
{{- else if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title }}",
  "description": "{{ $description }}",
  "url": "{{ .Permalink }}",
  "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "author": {
    "@type": "Person",
    "name": "{{ site.Params.author }}"
  },
  "publisher": {
    "@type": "Person",
    "name": "{{ site.Params.author }}"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  }
}
</script>
{{- end }}

{{- partialCached "head/css.html" . -}}
